/* QA Wall · Styles */

/* Form */

body {
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: (24em/16);
  color: #fff;
  background: #637077;
  padding-top: (50em/24);
}

.wrapper {
  //width: (962em/24);
  margin: 0 auto;
  position: relative;
  height: 100%;
  border: 0px;
}

.main {
  text-align: center;
  background: #637077;
  display:none;

  &.active {
    display:block;
  }
}

.main-config {
  text-align: center;
  background: #637077;
  &.active {
    display:block;
  }
}

.logo {
  text-indent: -9999px;
  position: relative;
  overflow: hidden;
  background: transparent url(../images/logo.svg) no-repeat 0 0;
}

.logo-big {
  width: (210rem/16);
  height: (69rem/16);
  margin: 0 auto 1em;
}

.logo-small {
  width: (91rem/16);
  height: (30rem/16);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.main-form {
  padding: 1em 0;
  background: #637077;

  fieldset {
  }

  label {
    display: none;
    visibility: hidden;
  }

  img {
    width: 32px;
    position: absolute;
    margin-top: .5em;
  }

  input,
  select {
    width: 100%;
    box-sizing: border-box;
    padding: .5em .5em .5em 3.2em;
  }

  input[type=submit]{
    padding: 0;
    margin-top: .5em;
  }

  input[type=submit]:disabled{
    background-color: #682056;
    cursor: default;
  }

  select {
    background: none;
    border-color: #a1a9ad;
    border-style: solid;
  }

  .frm-row {
    margin-top: .5em;

    &:first-child {
      margin: 0;
    }
  }
}

.main-input {
  background: #fff url(../images/arr-dark.png) no-repeat 97% 15px;
  text-align: left;
  font-weight: 700;
  border: (1em/24) solid #A1A9AD;
  height: 50px;

  color: #B43E97;

  &:hover {
    border-color: #B43E97;
  }

  &:focus {
    outline: none;
    border-color: #fff;
  }
}

.actions-bar {
  margin: .5em auto 0;

  input {
    width: 32%;
    margin-left: 2%;
    display: block;
    float: left;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

.btn {

  height: 55px;
  background: #4A5459;

  font-weight: 700;
  line-height: 50px;
  border: 0;
  border-radius: 0;
  border-bottom: 5px solid #32383C;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 0;

  &:hover {
    color: rgba(255, 255, 255, .5);
  }

  &:focus {
    outline: 0;
  }
}

.primary {
  background: #B43E97;
  border-bottom-color: #872F71;
}

/* Stats */
.block {
  margin-top: (10em/24);
  position: relative;
}

#stats {
  margin-top: (10em/24);

  .block:first-child {
    margin-top: 0;
  }
}

#wpt {
  min-height: (475em/24);
}

#pagespeed {
  height: (100em/24);

  .psi-element {
    width: 49%;
    float: left;
    color: white;
    position: relative;
    height: 100%;
    line-height: (120em/60);
    font-size: (60em/24);
    overflow: hidden;

    &:last-child {
      margin-left: 2%;
    }

    //Titulo
    &:before {
      text-transform: uppercase;
      top: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      line-height: 1.2em;
      height: 1.2em;
      font-size: (24rem/16);
      font-weight: bold;
      z-index: 5;
    }

    // /100
    &:after {
      opacity: .5;
      content: "/100";
      margin-left: .1em;
    }
  }

  .odometer-inside {
    display: inline;
    overflow: hidden;
    position: relative;
    top: (-2em/60);
  }

  .speed {
    background: #fbb03b;

    &:before {
      content: "speed";
      background: #fbb03b;
    }
  }

  .ux {
    background: #8cc63f;
    &:before {
      content: "user experience";
      background: #8cc63f;
    }
  }
}

.loading {
  background: rgba(#637077, .8);
  position: absolute;
  z-index: 9;
  height: 100%;
  top: 0;
  width: 100%;

  .wrapper {
    $h: (505em/24);
    height: $h;
    margin-top: ($h/-2);
  }
}

.qrcodes {
  $w: (310em/24);

  margin: 0 auto;

  .qrcode-wrapper {
    float: left;
    margin-left: 2%;
    width: 49%;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }
  }

  .qrcode-title {
  }

  .qrcode-url {

  }

  .qrcode {
    width: $w;
    height: $w;
    background: white;
    margin: 1em auto;
    padding: 1em;
  }
}

#modal,
#loading {
  .wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
}

.header-sticky {
  top: 0;
  width: 100%;
  height: (50em/24);
  background: #32383c;
  z-index: 9;

  .actions-bar {
    float: right;
  }

  .btn {
    height: (32em/16);
    line-height: (27em/16);
    float: left;
    box-sizing: border-box;
    font-size: (16em/24);
    padding: 0 2em;
    margin-left: 1em;
  }

  .again {
    border-bottom-color: #4a5459;
    background: #637077;
  }
}

#step-1 {
  position: absolute;
  width: 100%;
  background: none;

  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#step-2 {

}

#summary {
  font-size: (14em/24);
  width: (960em/14);
  margin: 0 auto;

  .naked {
    border: none !important;
  }
  tr {
    height: 2em;

  }

  thead {
    th {
      border: solid 1px white;
    }
  }

  .title {
    text-align: left;
    width: (100em/14);
    padding-left: (5em/14);
  }

  tbody {
    td {
      border: solid 1px white;
    }
  }

  $w: (3em/14);

  .border-left {
    border-left-width: $w;
  }

  .border-sides {
    border-left-width: $w;
    border-right-width: $w;
  }
}

.app-mesagges {
  background: white;
}

#chart {
  position: relative;
  left: 40px;
  top: 15px;
}

#chart_container {
  left: 15px;
}

#y_axis {
  position: absolute;
  top: 15px;
  bottom: 0;
  width: 40px;
}

.x_tick {
  color: black;
}

.buttonEvent {
  position: absolute;
  background: #345678;
}

#new_event {
  left: 50px;
  top: 400px;
}

#remove_event {
  left: 220px;
  top: 400px;
}

#stop_event {
  left: 450px;
  top: 400px;
}

#inputDiv {
  position: absolute;
  color: #000000;
  left: 50px;
  top: 450px;
}

#waterfall {
  font-size: (16em/24);
}

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgba(#637077, .8);
  display: none;

  .wrapper {
    $h: (475em/24);
    height: $h;
    margin-top: ($h/-2);

    background: white;
    border: solid (1em/24) black;
    box-shadow: 0px 0px 3px black;
    padding: 1em 0;
  }

  .close {
    position: absolute;
    width: 1em;
    height: 1em;
    top: -.5em;
    right: -.5em;
    border: solid (1em/24) black;
    border-radius: 10em;
    box-shadow: 0px 0px 2px black;
    background: white;
    text-align: center;
    line-height: 1em;
    cursor: pointer;

    &:before {
      content: "X";
      display: block;
      width: 100%;
      height: 100%;
      color: black;
      font-size: .7em;
      font-weight: bold;
    }
  }

  .qrcode {
    border: solid 1px black;
  }

  .qrcode-title,
  .qrcode-url {
    text-decoration: none;
    color: black;
  }
}

#contentButton{
  width: 200px;
  margin: 0 50px 25px 25px;
  horizontal-align: right;
  float:right;
  display: block;
}

.buttonAux{
    background: #345678;
}

#buttonZoomIn{
     font-size: 1.25em;

     &:disabled{
          background-color: #682056;
      }
}

#buttonZoomOut{
     font-size: 1.25em;

      &:disabled{
           background-color: #682056;
       }
}

#buttonControlMovement{
    text-align:center;
}

.actions-bar-zoom {
  margin: .5em; 
   input {
    width: 48%;
    margin-left: 4%;
    display: block;
    float: left;
    padding: 0;
  }
  input:first-child {
    margin-left: 0;
  }
}
.actions-bar-buttons {
  margin: .5em;
  margin-top: 2cm;
   input {
    width: 48%;
    display: block;
    margin-left: 4%;
    float: left;
    padding: 0;
  }
  input:first-child {
    margin-left: 0;
  }
}

#contentSelect {
    margin-left: 50px;
    padding: .5em;
    background: none;
}

#labelSelect {
 font-size: 16px;
}

#selectDevice{
    min-width: 150px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: .5em;
    background: none;
    border-color: #a1a9ad;
    border-style: solid;
}

#chartContainer{
    margin-left: 0.5em;
    margin-right: 1.5em;
}

div#app-output {
  height: 200px;
  width: 80%;
  font-size: 12px;
  margin-left: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;

  code {
    word-wrap: break-word;
    white-space: pre-line;  
  }
}

div#app-install {
  display: none;
  text-align: center;
}