/*
Error: Invalid CSS after "block": expected expression (e.g. 1px, bold), was "; }"
        on line 2 of css/style.css

1: article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
2:   display: block; }
3: 
4: audio, canvas, video {
5:   display: inline-block; }
6: 
7: audio:not([controls]) {

Backtrace:
css/style.css:2
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/script/lexer.rb:221:in `expected!'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:600:in `assert_done'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:63:in `parse'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:183:in `parse'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/script.rb:27:in `parse'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:1130:in `parse_script'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:720:in `parse_property'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:691:in `parse_property_or_rule'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:657:in `parse_line'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:535:in `build_tree'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:554:in `block in append_children'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:553:in `each'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:553:in `append_children'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:544:in `block in build_tree'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:537:in `each'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:537:in `build_tree'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:554:in `block in append_children'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:553:in `each'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:553:in `append_children'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:293:in `watch'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin.rb:108:in `method_missing'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.2.0/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.2.0/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"block\": expected expression (e.g. 1px, bold), was \"; }\"\A         on line 2 of css/style.css\A \A 1: article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {\A 2:   display: block; }\A 3: \A 4: audio, canvas, video {\A 5:   display: inline-block; }\A 6: \A 7: audio:not([controls]) {"; }
